<?xml version="1.0" encoding="UTF-8"?>
<!--
   - This logger config is copied from Spigot's log4j2.xml. It does the following:
   -
   - * Filters out packet messages
   - * Logs INFO and higher messages to two consoles (standard and windows-compatiable)
   - * Logs INFO and higher messages to a rolling file log
   -
   - To use this file, add this to JVM args: -Dlog4j.configurationFile=log4j2.xml
   - 
   - For more information, see
   - https://logging.apache.org/log4j/2.0/manual/filters.html
   -->

<!-- Entire configuration reloads from disk every 5 seconds -->
<Configuration monitorInterval="5" status="WARN" packages="com.mojang.util">
    
    <!-- Defines destinations of log messages -->
    <Appenders>
        <!-- Output to console (Windows compatiability) -->
        <Console name="WINDOWS_COMPAT" target="SYSTEM_OUT"></Console>
        
        <!-- Output to console with pattern: [00:00:00 INFO]: Message -->
        <Queue name="TerminalConsole">
            <!-- https://logging.apache.org/log4j/2.x/manual/layouts.html#PatternLayout -->
            <PatternLayout pattern="[%d{HH:mm:ss} %level]: %msg%n" />
        </Queue>
        
        <!-- Output to rolling (latest.log) and auto-compressed files with more verbose pattern -->
        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <!-- https://logging.apache.org/log4j/2.x/manual/layouts.html#PatternLayout -->
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n" />
            <Policies>
                <!-- Moves and compresses latest.log to new file at midnight -->
                <TimeBasedTriggeringPolicy />
                <!-- Moves and compresses latest.log to new file on startup -->
                <OnStartupTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="1000"/>
        </RollingRandomAccessFile>
    </Appenders>
  
    <Loggers>
        <!-- Global logger; affects every other logger. Restricts messages to INFO or higher level -->
        <Root level="info">
            <!-- Global filters -->
            <Filters>
                <!-- Disables logging of network packet handling -->
                <MarkerFilter marker="NETWORK_PACKETS" onMatch="DENY" onMismatch="NEUTRAL" />

                <!-- Example filters to disable generic plugin loading/enabling/disabling messages from any logger -->
                <!--
                <RegexFilter regex="\[.*?\] Loading.*" onMatch="DENY" onMismatch="NEUTRAL"/>
                <RegexFilter regex="\[.*?\] Enabling.*" onMatch="DENY" onMismatch="NEUTRAL"/>
                <RegexFilter regex="\[.*?\] Disabling.*" onMatch="DENY" onMismatch="NEUTRAL"/>
                -->

                <!-- Example filters to hide generic vanilla command messages -->
                <!--
                <RegexFilter regex="Playing effect.*" onMatch="DENY" onMismatch="NEUTRAL"/>
                <RegexFilter regex="Played sound.*" onMatch="DENY" onMismatch="NEUTRAL"/>
                <RegexFilter regex="Title command successfully executed" onMatch="DENY" onMismatch="NEUTRAL"/>
                <RegexFilter regex=".* moved wrongly!" onMatch="DENY" onMismatch="NEUTRAL"/>
                <RegexFilter regex=".* moved too quickly!.*" onMatch="DENY" onMismatch="NEUTRAL"/>
                -->
            </Filters>
            
            <!-- Logs to all 3 destinations -->
            <AppenderRef ref="WINDOWS_COMPAT"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="TerminalConsole"/>
        </Root>

        <!-- Example of setting a plugin's log level to WARN -->
        <!--
        <Logger additivity="false" level="WARN" name="PluginLoggerName">
            <AppenderRef ref="WINDOWS_COMPAT"/>
            <AppenderRef ref="TerminalConsole"/>
        </Logger>
        -->

        <!-- Example of disabling a plugin's logger -->
        <!--
        <Logger additivity="false" level="OFF" name="PluginLoggerName">
            <AppenderRef ref="WINDOWS_COMPAT"/>
            <AppenderRef ref="TerminalConsole"/>
        </Logger>
        -->

        <!-- Example of logging ALL debugging messages of a plugin -->
        <!--
        <Logger additivity="false" level="ALL" name="your.plugin.LoggerName">
            <AppenderRef ref="WINDOWS_COMPAT"/>
            <AppenderRef ref="TerminalConsole"/>
        </Logger>
        -->
       
        <!-- Example loggers to prevent plugins incorrectly logging to STDOUT and STDERR -->
        <!--
        <Logger name="STDOUT" level="WARN" additivity="false">
            <AppenderRef ref="WINDOWS_COMPAT"/>
            <AppenderRef ref="TerminalConsole"/>
        </Logger>
        <Logger name="STDERR" level="WARN" additivity="false">
            <AppenderRef ref="WINDOWS_COMPAT"/>
            <AppenderRef ref="TerminalConsole"/>
        </Logger>
        -->
    </Loggers>
</Configuration>